<div class="container">
  <div class="row">
    <div class="col-md-3 sidebar">
      <nav class="sidebar-nav">
        <div class="sidebar-header">
          <button class="nav-toggler nav-toggler-md sidebar-toggler" type="button" data-toggle="collapse"
                  data-target="#nav-toggleable-md">
            <span class="sr-only">Toggle nav</span>
          </button>
          <a class="sidebar-brand img-responsive">
            <span class="icon icon-home sidebar-brand-icon"></span>
          </a>
        </div>

        <div class="collapse nav-toggleable-md" id="nav-toggleable-md">
          <ul class="nav nav-pills nav-stacked flex-column">
            <li class="nav-header">Directories</li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/doors/all">Doors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/users">Users</a>
            </li>
          </ul>
          <hr class="visible-xs mt-3">
        </div>
      </nav>
    </div>
    <div class="col-md-9 content">
      <div class="dashhead">
        <div class="dashhead-titles">
          <h6 class="dashhead-subtitle">Homeaut</h6>
          <h2 class="dashhead-title">STUFF THAT WILL HOPEFULLY CHANGE</h2>
        </div>
        <div class="btn-toolbar dashhead-toolbar">
          <div>
            <span class="important-text">Gigel</span>
            <button type="button" class="btn btn-sm btn-outline-danger" routerLink="/login">Sign out</button>
          </div>
        </div>
      </div>
      <hr class="mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
