<form class="sidebar-form">
  <input class="form-control" type="text" placeholder="Search by name..."
         [(ngModel)]="searchName" (ngModelChange)="getSearch()" name="searchName">
  <button type="submit" class="btn-link">
    <span class="icon icon-magnifying-glass"></span>
  </button>
</form>

<div class="d-flex flex-wrap justify-content-start">
  <div style="padding: 1.5em" *ngFor="let object of results">
    <button type="button" class="btn btn-lg btn-primary" routerLink="/users/{{object?.id}}">{{object.username}}</button>
  </div>
</div>

<div style="padding: 1.5em">
  <button type="button" class="btn btn-secondary" routerLink="/users/add">
    <span class="icon icon-plus sidebar-brand-icon"></span>
    Add user
  </button>
</div>
