<div>
  <label class="control-label" for="id">Door ID: </label>
  <p><input class="form-control" id="id" type="number" placeholder="{{resultD?.id}}" readonly=""></p>
</div>

<div>
  <label class="control-label" for="name">Name: </label>
  <p><input class="form-control" id="name" type="text" placeholder="{{resultD?.name}}" [(ngModel)]="name"></p>
</div>

<div>
  <label class="control-label" for="deviceCommList">Pin Number &nbsp;</label>
  <select [(ngModel)] = "selectedComm" class="form-control-sm" style="background: #434857; color: white">
    <option id="deviceCommList" *ngFor="let c of deviceCommList" value={{c.name}} class = "form-control">{{c.name}}</option>
  </select>
  <p></p>
</div>

<div style="float: left;">
  <button type="button" class="btn btn-success" (click)="updateDoor()">Update</button>
</div>

<div style="float: right;">
  <button type="button" class="btn btn-danger" (click)="deleteDoor()">Delete</button>
</div>
