<div>
  <label class="control-label" for="id">Door ID: </label>
  <p><input class="form-control" id="id" type="number" placeholder="{{resultD.id}}" readonly=""></p>
</div>

<div>
  <label class="control-label" for="name">Name: </label>
  <p><input class="form-control" id="name" type="text" placeholder="{{resultD.name}}" [(ngModel)]="name"></p>
</div>

<div>
  <label class="control-label" for="deviceComm">Pin Number: </label>
  <p><input class="form-control" id="deviceComm" type="text" placeholder="{{resultD.deviceComm}}"
            [(ngModel)]="deviceComm"></p>
</div>

<div style="float: left;">
  <button type="button" class="btn btn-success" (click)="putRequest()" routerLink="/doors/all">Update</button>
</div>

<div style="float: right;">
  <button type="button" class="btn btn-danger" (click)="deleteRequest()" routerLink="/doors/all">Delete</button>
</div>
