<div>
  <label class="control-label" for="id">User ID: </label>
  <p><input class="form-control" id="id" type="number" placeholder="{{resultU.id}}" readonly=""></p>
</div>

<div>
  <label class="control-label" for="username">Username: </label>
  <p><input class="form-control" id="username" type="text" placeholder="{{resultU.username}}" [(ngModel)]="username">
  </p>
</div>

<!--<div class="form-group has-success has-feedback">-->
  <!--<label class="control-label" for="password">Old Password: </label>-->
  <!--<input type="password" class="form-control" id="password">-->
<!--</div>-->

<div class="form-group has-success has-feedback">
  <label class="control-label" for="newPassword">New Password: </label>
  <input type="password" class="form-control" id="newPassword" [(ngModel)]="password">
</div>

<div style="float: left;">
  <button type="button" class="btn btn-success" (click)="putRequest()" routerLink="/users/all">Update</button>
</div>
<div style="float: right;">
  <button type="button" class="btn btn-danger" (click)="deleteRequest()" routerLink="/users/all">Delete</button>
</div>
